html{
}

body{
    background-image: url("back.png");
    text-align: center;
}

h2{
    background-color:white;
    margin: 5px auto;
    width: 80%;
}

h5{
    position: absolute;
    top: 150px;
    font-size: 1.5rem;
    width: 15vw;
}

table{
    margin: 10px;
    border-collapse: collapse;
}

th{
    padding: 3px;
    border-style: groove;
    border-top-color: #E1FA24;
    background-color: #E1FA24;
}

td{
    padding: 2px 5px;
    border-style: groove;
}

.kane{
    text-align: right; 
}

.tableset{
    position: relative;
    margin: 
    height: 350px;
    width: 1000px;
}

.tableOther{
    width: 9%;
}

.tablekane{
    width: 15%;
}

.tableHow{
    width: 12%;
}

.tableDate{
    width: 16%;
}

.ikane{
    background-color: #F4A8A7;
}

.okane{
    background-color: #93C6F6;
}

#zougendata{
    position: relative;
    table-layout: fixed;
    margin: 15px auto;
    width: 900px;
}

#idoudata{
    background-color: #9AF3D2;
    position: relative;
    margin: 15px auto;
    width: 900px;
}

#okuru{
    background-color: #00BFFF;
    color: white;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
}

#sqlsend{
    margin: 15px auto;
}

#nowdata{
    width: 500px;
    margin: 15px auto;
    
}

#idouup{
    position: absolute;
    top:50%;
    left:5px;
    background-color: #00BFFF;
    color: white;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
}

#idouback{
    position: absolute;
    top:50%;
    right:5px;
    background-color: #00BFFF;
    color: white;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
}

#zougenup{
    position: absolute;
    top:50%;
    left:5px;
    background-color: #00BFFF;
    color: white;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
}

#zougenback{
    position: absolute;
    top:50%;
    right:5px;
    background-color: #00BFFF;
    color: white;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
}