body{
    background-image: url("back.png");
    text-align: center;
}

h2{
    background-color:white;
    margin: 5px auto;
    width: 80%;
}

.tableset{
    position: relative;
    background-color: #00BFFF;
}

h5{
    position: absolute;
    font-size: 18px;
    margin: 5px auto;
    width: 256px;
}

table{
    background-color:white;
    margin: 10px;
    border-style: solid;
    border-collapse: collapse;
}

th{
    padding: 3px;
    border-style: solid;
}

td{
    padding: 2px 5px;
    border-style: solid;
}

.kane{
    text-align: right;
    
}

#okuru{
    background-color: #00BFFF;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 14px;
}

#sqlsend{
    margin: 15px auto;
}

#nowdata{
    width: 512px;
    margin: 15px auto;
    
}

#zougendata{
    position: relative;
    width: 1024px;
    margin: 20px auto;
}

#idoudata{
    width: 1024px;
    margin: 20px auto;
}